@model xilopro2.Models.PlayerViewModel

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/User.css" asp-append-version="true" />

<div class="container">
    <div class="d-flex justify-content-start align-items-center">
        <a asp-action="Index" asp-controller="Players" class="btn btn-outline-default fs-5"><i class="fa-solid fa-arrow-left"></i> Atras |</a>
        <h2 class="m-0">Editando @(Model.Player_Genero != "Masculino" ? "el Jugador:" : "la Jugadora:") <span class="badge bg-warning text-black text-uppercase">@Model.Player_FullName</span></h2>
    </div>
    <hr />
    <div class="card border-warning anchoFormUser">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="card-body">
                <div class="row">
                    <partial name="_FormPlayer" />
                </div>
            </div>
            <div class="card-footer card-footer-warning">
                <div class="form-group d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-outline-default"><i class="fa-solid fa-ban"></i> Cancelar</a>
                    <button type="submit" value="Save" class="btn btn-warning"><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
