@model xilopro2.Models.ParentViewModel

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/User.css" asp-append-version="true" />

<div class="container pt-3">
    <div class="d-flex justify-content-between align-items-center gap-2">
        <a asp-action="Details" asp-route-id="@Model?.PlayerId" asp-controller="Players" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-left"></i> Atras</a>
        <h2 class="m-0 text-end">Editando Tutor <span class="badge bg-warning text-black text-uppercase">@Model.Parent_FullName</span> del Jugador <span class="badge bg-dark text-uppercase">@Model.PlayerName</span> </h2>
    </div>
    <hr />
    <div class="card border-warning" style="width: 100%;margin:0 auto;">
        <form asp-action="EditPlayerFiles" enctype="multipart/form-data">
            <div class="card-body">
                <div class="row">
                    <partial name="_FormParent" />
                </div>
            </div>
            <div class="card-footer card-footer-warning">
                <div class="form-group d-flex justify-content-between">
                    <a asp-action="Details" asp-route-id="@Model?.PlayerId" asp-controller="Players" class="btn btn-light"><i class="fa-solid fa-ban"></i> Cancelar</a>
                    <button type="submit" value="Save" class="btn btn-warning"><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}