@page

@{
   
}
<link rel="stylesheet" href="~/css/Denied.css" asp-append-version="true" />

<div class="text-center bgDenied d-flex justify-content-center align-items-center " style="height:calc(100vh - 126px)">
    <div class="card shadow">
        <h1 class="card-title"><i class="fa-solid fa-triangle-exclamation me-4"></i>Acceso Denegado</h1>
        <p class="lead">No tienes permiso de acceder a este contenido o de ejecutar esta acción.</p>
        <div class="alert alert-dark fw-bold" style="background: rgba(255, 255, 255, .25);">Contacta al Administrador para mas información.</div>
        <a href="/">Regresar</a>
    </div>
</div>
