@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["Title"] = "Create";
}



<div class="container pt-2">
    <h2><a asp-action="ListRoles" class="btn btn-outline-default"><i class="fa-solid fa-arrow-left"></i> Atras</a> | Creando Nuevo Rol</h2>
    <hr />
    <div class="card border-primary" style="width: 50%;margin:0 auto;">
        <form asp-action="CreateRole">
            <div class="card-body">
                <div class="row">
                    <partial name="_FormRoles" />
                </div>
            </div>
            <div class="card-footer card-footer-primary">
                <div class="form-group d-flex justify-content-between">
                    <a asp-action="ListRoles" class="btn btn-outline-default"><i class="fa-solid fa-ban"></i> Cancelar</a>
                    <button type="submit" value="Save" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}