@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["Title"] = "Delete";
}

<div class="container pt-2">
    <div class="d-flex justify-content-start align-items-center">
        <a asp-action="ListRoles" class="btn btn-outline-default fs-5"><i class="fa-solid fa-arrow-left"></i> Atras |</a>
        <h2 class="m-0">Eliminando Rol: <span class="badge bg-danger text-white">@Model.Name</span></h2>
    </div>
    <hr />
    <div class="card border-danger" style="width: 50%;margin:0 auto;">
        <div class="card-body">
            <h2 class="text-center mb-0">Confirme eliminar el Rol: <span class="text-danger">@Model.Name</span> ?</h2>
        </div>
        <div class="card-footer card-footer-danger">
            <form asp-action="DeleteRole">
                <div class="form-group d-flex justify-content-between">
                    <input type="hidden" asp-for="Id" />
                    <a asp-action="ListRoles" class="btn btn-outline-default"><i class="fa-solid fa-ban"></i> Cancelar</a>
                    <button type="submit" value="Borrar" class="btn btn-danger"><i class="fa-solid fa-delete-left"></i> Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
