@using xilopro2.Models
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Recuperar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ForgetPassword.css" />

<section class="forgetpassword">
    <div class="centrarForgetPassword row">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Nueva Contraseña De Usuario</h3>
                <form asp-controller="Account" asp-action="ResetPassword" method="post" role="form">

                    <div class="text-danger" asp-validation-summary="All"></div>

                    <input hidden asp-for="Code" />

                    <div class="row mt-4">
                        <div class="col-sm-3 offset-sm-9 mx-auto">

                            <div class="mb-3">
                                <label asp-for="Email" class="col-md-2 d-none"></label>
                                <input asp-for="Email" class="form-control inlogin" placeholder="Email" />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Password" class="col-md-4 d-none"></label>
                                <input asp-for="Password" class="form-control inlogin" placeholder="Nueva Contraseña" />
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>

                            <div class="mb-3">

                                <label asp-for="ConfirmPassword" class="col-md-4 d-none"></label>
                                <input asp-for="ConfirmPassword" class="form-control inlogin" placeholder="Confirmar Contraseña" />
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-success inlogin w-100 btn-lg">Recuperar contraseña <i class="bi bi-arrow-right-circle"></i></button>
                                <a href="/" class="btn btn-light btn-lg w-100 mt-2">Cancelar</a>
                            </div>

                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}