@model xilopro2.Data.Entities.Membership
@{
    ViewData["Title"] = "Delete";
}

<div class="container pt-3">

    <div class="d-flex justify-content-between align-items-center gap-2">
        <a asp-action="Index" asp-route-id="@Model?.Id" asp-controller="Membership" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-left"></i> Atras</a>
        <h3 class="m-0 text-end">Eliminando membresia de <span class="badge bg-danger text-white text-uppercase">@Model.Membership_FullName</span></h3>
    </div>
    <hr />
    <div class="card border-danger" style="width: 100%;margin:0 auto;">
        <div class="card-body">
            <h2 class="text-center text-danger">Confirme eliminar membresia de @Model.Membership_FullName ?</h2>
        </div>
        <div class="card-footer card-footer-danger">
            <form asp-action="Delete">
                <div class="form-group d-flex justify-content-between">
                    <input type="hidden" asp-for="Id" />
                    <a asp-action="Index" asp-route-id="@Model?.Id" asp-controller="Membership" class="btn btn-light"><i class="fa-solid fa-ban"></i> Cancelar</a>
                    <button type="submit" value="Borrar" class="btn btn-danger"><i class="fa-solid fa-delete-left"></i> Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>