@model xilopro2.Data.Entities.Groups

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Groups</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group_Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Group_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
