@model xilopro2.Models.CityViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h3><a asp-action="DetailsState" asp-route-id="@Model.StateId" class="btn btn-outline-default"><i class="fa-solid fa-arrow-left"></i> Atras</a> | Editando el Municipio: <span class="badge bg-warning text-dark">@Model.City_Name</span></h3>

    <hr />
    <div class="card border-warning" style="width: 60%;margin:0 auto;">
        <form asp-action="EditCity">
            <div class="card-body">
                <div class="col-md-12">

                    <partial name="_FormCity" />

                </div>
            </div>
            <div class="card-footer card-footer-warning">
                <div class="form-group my-2 d-flex justify-content-between">
                    <a asp-action="DetailsState" asp-route-id="@Model.StateId" class="btn btn-outline-default"><i class="fa-solid fa-ban"></i> Cancelar</a>
                    <button type="submit" value="Save" class="btn btn-warning"><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}