@model IEnumerable<xilopro2.Data.Entities.Attendance>
  
    <div class="container pt-3" >
<div id="calendar"></div>

    </div>


<!-- En tu Layout.cshtml o en la página donde quieras incluir FullCalendar.js -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
@section Scripts {
   
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var events = [];

        @foreach (var attendance in Model)
        {
            <text>
                    events.push({
                        title: '@attendance.PlayerName',
                        start: '@attendance.AttendanceDate.ToString("yyyy-MM-dd")',
                        color: '@attendance.Status'
                    });
            </text>
        }

            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                nowIndicator: true,
                navLinks: true,
                headerToolbar: {
                    start: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth',
                    center: 'title',
                    end: 'prevYear,prev,next,nextYear'
                },
            });
            calendar.render();

       
        });
    </script>
}