@model xilopro2.Data.Entities.Position

@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <h2 class="d-flex justify-content-start align-items-center">
        <a asp-action="Index" class="btn btn-outline-default fs-4"><i class="fa-solid fa-arrow-left"></i> Atras</a>
        | Editando Posición:  <span class="badge bg-warning text-dark">@Model.Position_Name</span>
    </h2>
    <hr />
    <div class="card border-warning" style="width: 60%;margin:0 auto;">
        <form asp-action="Edit">
            <div class="card-body">
                <div class="row">
                    <input type="hidden" asp-for="Position_ID" />
                    <!--<input type="hidden" asp-for="Players" />-->
                    <partial name="_FormPosition" />
                </div>
            </div>
            <div class="card-footer card-footer-warning">
                <div class="form-group d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-outline-default"><i class="fa-solid fa-ban"></i> Cancelar</a>
                    <button type="submit" value="Save" class="btn btn-warning"><i class="fa-regular fa-floppy-disk"></i>Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}