
.forgetpassword {
    background: radial-gradient(circle, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.75) 85%),url(../../../../images/bg3.jpg);
    width:100%;
}

.centrarForgetPassword {
    display: grid;
    place-items: center;
    height: calc(100vh - 61px)
}
.centrarForgetPassword .card{
    border:none;
    background-color:transparent;
}
.inlogin {
    border-radius: 0px;
    padding: 0.85rem 0.5rem;
}
.btn-success.inlogin {
    background-color: #063f92;
    font-weight: bold;
    font-size: 1.3rem;
}
    .btn-success.inlogin:hover {
        background-color: #000;
        font-weight: bold;
        font-size: 1.3rem;
    }
.btn-default:hover { 
    font-weight: bold;
    font-size: 1.3rem;
}