

:root {
    --azul: #0d6efd;
    --amarillo: #ffc107;
    --verde: #198754;
    --rojo: #dc3545;
    --celeste: #0dcaf0;
    --dark: #212529;
    --darkblue: #011c42;
}

.w-20 {
width:20%!important;
}
.w-15 {
    width: 15% !important;
}
.form-check-input.alrevescheck {
    float: right !important;
    margin-right: 1.5em !important;
}

footer div.container {
    padding: 2rem !important;
}
.footer0 {
    position: relative !important;
    margin-top:2rem;
}

.bg-mainNav {
    background-color: #011c42 !important;
}

.row.croles .panel .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #d9d9d9;
}

.anchoForm {
    max-width: 80%;
    margin: 0 auto;
}

.imgZoom:hover img {
    transition: transform .5s ease;
    transform: scale(2.5);
}

.imgZoom img {
    width: 50px;
    height: 50px;
    max-width: 100%;
    height: auto;
    transition: transform .5s ease;
    cursor: pointer;
}
.imgpreviewForm2 {
    width: 240px;
    max-width: 100%;
    height: auto;
}
.imgpreviewForm3 {
    width: 300px;
    max-width: 100%;
    height: auto;
}
.imgZoom a:hover img {
    transition: transform .5s ease;
    transform: scale(2.5);
    box-shadow: -1px 2px 3px 1px rgba(0,0,0,0.5);
}

.imgZoom a img {
    width: 50px;
    height: 50px;
    max-width: 100%;
    transition: transform .5s ease;
    cursor: pointer;
    object-fit: cover;
    object-position: 50% 10%;
}

.imgsized {
    width: 30%;
   
}
.imgsized0 {
    width: 20%;
}
.imgsized1 {
    width: 40%;
}
.card-footer-primary {
    border-top: 1px solid var(--azul) !important;
}

.card-footer-success {
    border-top: 1px solid var(--verde) !important;
}

.card-footer-warning {
    border-top: 1px solid var(--amarillo) !important;
}

.card-footer-info {
    border-top: 1px solid var(--celeste) !important;
}

.card-footer-danger {
    border-top: 1px solid var(--rojo) !important;
}

.card-footer-dark {
    border-top: 1px solid var(--dark) !important;
}

.lowerinput::placeholder {
    text-transform: capitalize;
}

div.form-check .btn-group button {
    text-transform: uppercase !important;
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 400;
}
.estadoplayer {

}
.menser i {
    height: 2rem !important;
    fill: #58151c;
}

.menser .btn-close {
    padding: 2rem 1rem !important;
}

.menser ul {
    list-style: none;
    padding-left: 1rem;
}

.alert.alert-danger.fw-bold.menser ul {
    margin-bottom: 0rem !important;
}
.alert ul{
    margin-bottom:0rem!important;
}

img.camisita {
    width: 50px;
    height: auto;
    margin-left:2rem;
    position:relative;
}
.numerito {
   
    font-size: 1.6rem;
    color: var(--azul);
}


.form-check-input{
    cursor:pointer!important;
}


.colorcircle {
    border: 1px solid white;
    position: relative;
    width: 50px;
    height: 50px;
}

/**table arrangements**/
table{
    width:100%!important;
}
    table.dataTable th:not(:last-child) {
        text-align: left !important;
    }
    table.dataTable td:not(:last-child) {
        text-align: left !important;
    }

.dt-buttons.btn-group {
   
}
.btn-exportar-excel {
    background-color: #107C41;
    border: none;
}
    .btn-exportar-excel:hover {
        background-color: #006801;
    }
.btn-exportar-pdf {
    background-color: #F70000;
    border: none;
}
    .btn-exportar-pdf:hover {
        background-color: #8b0000;
    }

    .btn-export-colvis {
       
    }
.buttons-page-length {
    background-color: #000;
    color: #fff;
}


.dt-paging-button {
    padding: 0 !important;
    margin: 0 !important;
}
colgroup col{
    width:auto!important;
}

div.dt-container div.dt-search {
    text-align: right;
    display:inline-block;
    float:right;
}
.dt-info {
    display: inline-block;
    float: left;
    padding-top: 0.85em;
}

.dt-paging {
    display: inline-block;
    float: right;
    padding-top: 0.45rem;
}

/**table arrangements**/


.heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.img-flag {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}




/************************RESPONSIVE****************************/
@media (min-width: 768px) {
    .rolepo {
        
    }
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 15px;
}

.footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    line-height: 60px !important;
}


@media(max-width:768px) {
    .dataTables_wrapper .row:first-child {
    }
}
