@model xilopro2.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Cambiar contraseña";
}

<div class="container pt-3">
    <div class="d-flex justify-content-between align-items-center gap-2">
        <a asp-action="Profile" asp-route-id="@Model?.UserEmail" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-left"></i> Atras</a>
        <div class="d-flex gap-4 justify-content-center align-items-center">
            <span class="badge bg-dark fs-4">@Model.UserEmail</span>
        </div>

    </div>

    <hr />
    <div class="card border-primary" style="width: 100%;margin:0 auto;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <form asp-action="ChangePassword">
                        <input type="hidden" asp-for="UserEmail" />
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group mb-3">
                            <label asp-for="OldPassword"></label>
                            <input asp-for="OldPassword" type="password" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Confirm"></label>
                            <input asp-for="Confirm" type="password" class="form-control" />
                            <span asp-validation-for="Confirm" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-3">
                            <div class="d-grid">
                                <input type="submit" value="Cambiar contraseña" class="btn btn-primary" />
                            </div>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}